@use "../global" as *;

.cats-filter {
    margin-bottom: 30px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
    border-radius: 0 0 15px 15px;

    &__title {
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 20px;
        background-color: $main-brown;
        cursor: pointer;
    }

    .active-filter {
        box-shadow: 0 5px 11px 0 rgba(21, 21, 21, 0.36);
    }

    &__options {
        font-size: 28px;
        line-height: 1.5;
        max-height: 0;
        transition: .5s ease all;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        border-radius: 0 20px 20px;
    }

    .active {
        padding: 20px;
        max-height: 120px;
        transition: .5s ease all;
    }
}