@use "../global" as *;

.header {
    width: 100%;
    background: $submain-lightgray;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 680px) {
        flex-direction: column;
        gap: 0;
        padding-bottom: 10px;
    }

    .logo {
        padding: 15px;

        a {
            text-decoration: none;
            font-size: 36px;
            font-weight: 900;
            color: $main-brown;
        }
    }

    .navbar {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 680px) {
              width: 100%;
              gap: 5px;
        }

        a {
            font-size: 25px;
            font-weight: 600;
            color: #252525;
            text-decoration: none;
            transition: all .3s;

            @media (max-width: 550px) {
                    font-size: 20px;
                }

            &:hover {
                color: $main-brown;
                transition: all .3s;
            }
        }

        .link-active {
            color: $main-brown;
            cursor: initial;
        }
    }
}